.stat-card{
    background: rgba(255, 255, 255, 0.1 );
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2 );
    transition: all 0.3s ease;
    height: 75%;
}

.stat-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.stat-icon{
    background-color: linear-gradient(135deg,#3182ce, #2b6cb0);
}
.card .icon{
margin-bottom: 0.5rem;
}